body{
    margin:0;
}

.booleaner-header{
    height: 150px;
    background-color: #1a93ec;
    background-image: url("../img/pattern.png");
}

#contenitore-logo{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex
    align-items: center;
}

.container{
    width: 900px;
    margin: 0 auto;
}

h1{
    margin-top: 20px;
    margin-bottom: 2px;
}

.autore, .data{
    color: gray;
}

.data{
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #1a93ec;
}

a:hover{
    text-decoration: underline;
    color: #1a93ec;
}

.intestazione-immagini{
    font-size: 13px;
}

.immagini-copertina{
    margin-bottom: 20px;
}

#immagine-uno, #immagine-due{
    width: 49%;
}

.testo-evidenziato{
    background-color: yellow;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #1a93ec;
    color: white;
    text-align: left;
}

.onequarter{
    width:25%
}

.half{
    width:50%
}

td{
    padding: 15px 0;
}

tbody tr:nth-child(odd){
    background-color: lightblue;
  }

#articoli-consigliati{
      margin-top: 30px;
  }

#titolo-consigliati{
    font-weight: 700;
    color:gray;
    font-size: 14px;
}

.consigliati{
    height: 110px;
    width: 150px;
    margin-top: 10px;
    background-size: cover;
    color: white;
    font-weight: 700;
    padding: 7px;
}

.consigliati.uno{
    background-image: url("../img/graph.jpg");
}

.consigliati.due{
    background-image: url("../img/monitor.jpg");
}